.liked 
    .container.liked__container 
        .liked__top 
            .liked__breadcrumb 
                img(src="assets/imgs/diamond.svg", alt="")
                .breadcrumb__text Ювелирные украшения  /  Избранное
            .liked__title Избранное
            .liked__subtitle В избранном  <span> 3 </span>  товара:
            .liked__nav 
                .liked__nav-link Кольца
                .liked__nav-link Серьги
                .liked__nav-link Подвески
            .liked__block
                mixin product(vimg, vprice, voldprice, vtext, vtext_h, ratingTrue1, ratingTrue2, ratingTrue3, ratingTrue4, ratingTrue5)
                    .liked__col 
                        a(href="").product
                            .product__img 
                                img(src=vimg, alt="product")
                            .product__price=vprice
                            .product__old-price=voldprice
                                .product__rating
                                    .rating__item
                                        - if(ratingTrue1)
                                            img(src="./assets/imgs/star1.svg", alt="") 
                                        - else 
                                            img(src="./assets/imgs/star0.svg", alt="")
                                    .rating__item
                                        - if(ratingTrue2)
                                            img(src="./assets/imgs/star1.svg", alt="") 
                                        - else 
                                            img(src="./assets/imgs/star0.svg", alt="")
                                    .rating__item
                                        - if(ratingTrue3)
                                            img(src="./assets/imgs/star1.svg", alt="") 
                                        - else 
                                            img(src="./assets/imgs/star0.svg", alt="")
                                    .rating__item
                                        - if(ratingTrue4)
                                            img(src="./assets/imgs/star1.svg", alt="") 
                                        - else 
                                            img(src="./assets/imgs/star0.svg", alt="")
                                    .rating__item
                                        - if(ratingTrue5)
                                            img(src="./assets/imgs/star1.svg", alt="") 
                                        - else 
                                            img(src="./assets/imgs/star0.svg", alt="")
                            .product__text=vtext
                                .product__text_h=vtext_h
                            .product__btn в корзину
                +product('./assets/imgs/ring1.png','12 990 ₽','28 800 ₽','Кольцо из желтого золота с родированием с бриллиантом','Желтое золото, 585° Вставки: бриллианты Вес: 2,27 г', true, true, true, true, true)            
                +product('./assets/imgs/ring2.png','10 750 ₽','25 500 ₽','Кольцо из желтого золота с родированием с бриллиантом','Желтое золото, 585° Вставки: бриллианты Вес: 2,27 г', true, true, true, true, true)
                +product('./assets/imgs/ring3.png','7 490 ₽','19 250 ₽','Кольцо из белого золота с бриллиантом','Белое золото, 585° Вставки: бриллианты Вес: 2,27 г', true, true, true, false, false)